/* styling file for mainMenu, contains classes to change the color */

.changeContent{
    background-color:#d8b4a0 ;
    background-image: url("attend_bg1.jpeg");
    background-size: auto;
    opacity: 0.8;
} 

.getstartedbutton {
    background-color: black;
    color: black;
}

.changeHeader{
    background-color: #e6bccd;
    height : 500px;
}

.forms{
    border-radius : 10px;
    border : 3px indent  ;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding-top : 15px;
    padding-bottom: 0px;
    text-align: center;
    
}

.label {
    display: block;
    width: max-content;
    font-size: 1rem;
}